body {
  font-family: 'Helvetica Neue', sans-serif;
}

header {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto 50px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

th {
  background-color: #3399ff;
  cursor: pointer;
}

.ascending {
  background-color: #53c653;
}

.descending {
  background-color: #ffa64d;
}

.hide {
  display: none;
}

.table-features-container {
  width: 80%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container span {
  margin: 0 5px;
}

#myInput {
  width: 200px;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
}

.pag-links {
  display: flex;
  justify-content: center;
}

.pag-links a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#current-link {
  background-color: #3399ff;
  color: white;
  border: 1px solid #3399ff;
}
