header {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto 50px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

th {
  background-color: #3399ff;
  cursor: pointer;
}

.ascending {
  background-color: #53c653;
}

.descending {
  background-color: #ffa64d;
}
